[submodule "core"]
	path = core
	url = https://github.com/eml-eda/can-controller-gvsoc.git
[submodule "pulp"]
	path = pulp
	url = https://github.com/Lelezinski/gvsoc-pulp.git
[submodule "plptest"]
	path = plptest
	url =  https://github.com/gvsoc/plptest.git
[submodule "gvtest"]
	path = gvtest
	url =  https://github.com/gvsoc/gvtest.git
[submodule "pulpos"]
	path = pulpos
	url = https://github.com/gvsoc/pulpos.git
[submodule "gvrun"]
	path = gvrun
	url = https://github.com/gvsoc/gvrun.git